<div id="container">
  <div class="highlight"></div>
  <div class="outer" (click)="onClick('logo')" id="logo">
    <div class="inner">
      <div class="text">Placement</div>
    </div>
  </div>
  <div class="outer" (click)="onClick('create-job')" id="create-job">
    <div class="inner">
      <div class="text">Create Job</div>
    </div>
  </div>
  <div class="outer" (click)="onClick('profile')" id="profile">
    <div class="inner">
      <div class="text">Profile</div>
    </div>
  </div>
  <div class="outer" (click)="onClick('about')" id="about">
    <div class="inner">
      <div class="text">about</div>
    </div>
  </div>
  <div class="outer" (click)="onClick('signup')" id="signup">
    <div class="inner">
      <div class="text">Sign Up</div>
    </div>
  </div>
  <div class="outer" (click)="onClick('login')" id="login">
    <div class="inner">
      <div class="text">Log In</div>
    </div>
  </div>
</div>
