.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 156px;
  background-color: hsl(180, 29%, 50%);
  min-width: 300px;
}

.banner-container svg {
  width: 100%;
}

.navbar {
  position: absolute;
  top: 50px;
  width: 100%;
}


